.charactersContainer{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 1.5rem;
    padding: 0 15px 0 15px;
}

.charactersContainer .favoritesContainer{
    width: 100%;
    padding: 0 50px 15px 50px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.charactersContainer .favoritesContainer{
   
}

.characterCard{
    border: 1px solid #ccc;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 240px;
    background-color: #ccc;
    color: #000;
}

.favoriteCard{
    margin-top: 15px;
    transform: rotate(0deg);
    border: 1px solid #ccc;
    border-radius: 1rem;
    width: 160px;
    position: relative;
}

.favoriteCard:hover{
    transform: rotate(-2deg);
    cursor: pointer;
}

.favoriteCard img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    height: auto;
}

.searchCharacter{
    width: 100%;
    padding: 10px 0 10px 0;
    border-radius: 2rem;
    margin-bottom: 2px;
    border: 1px solid #242323;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.characterCard:hover{
    transform: rotate(-2deg);
}

.characterCard .characterImage{
    background-color: #000;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    position: relative;
}

.characterCard .characterImage .favoriteButton,
.favoriteCard .favoriteButton{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;   
    font-size: 2rem;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #242323;
    color: rgba(36, 35, 35, 0.5);
}

.characterCard .characterImage .darkFavoriteButton{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.characterCard .characterImage .favoriteButton:hover{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 187, 0);
}

.characterCard .characterImage .favorite-color,
.favoriteCard .favorite-color{
    color: rgb(255, 187, 0);
}

.characterCard .characterImage img{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 100%;
    height: auto;
}


.characterCard .characterTitle{
    transform: translateY(-50px);
    color: #000;
    margin-bottom: -50px;
}

.characterCard .characterTitle:hover{
    transform: translateY(-50px) rotate(2deg);
    cursor: pointer;
}

.darkCard{
    color: #fff;
    background-color: #242323;
}


@media (max-width: 640px) {
    .charactersContainer{
        padding: 0;
    }
    .charactersContainer .favoritesContainer{
        padding: 0;
    }

    .characterCard{
        width: 160px;
        font-size: 0.8rem;
    }

    .characterCard .characterTitle{
        transform: translateY(-60px);
    }
    
    .characterCard .characterTitle:hover{
        transform: translateY(-60px) rotate(2deg);
    }


    .characterCard .characterInformation{
        padding-top: 10px;
    }

    .characterCard .characterInformation p{
        margin-bottom: 5px;
        margin-top: 5px;
    }
}