.Header{
    border-bottom: 2px solid #c2b4b4;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

.Header .title{
    display: flex;
    justify-content: space-between;
}

.Header .title .random{
    cursor: pointer;
    transform: rotate(-8deg);
    margin-left: 3rem;
}

@media (max-width: 640px) {
    .Header .title .random{
        margin-left: 1rem;
    }
}


.Header .modeButton{
    
    font-weight: bold;
    margin: 10px;
    padding: 0 24px 0 24px;
    cursor: pointer;
    border-radius: 1rem;
}

.Header .darkButton{
    color: #fff;
    background-color: #242323;
    border: 1px solid #c2b4b4;
}

.Header .lightButton{
    background-color: #c2b4b4;
    border: none;
    color: #fff;
}